body
{
    margin: 0;
}
.for-padding
{
    padding: 0% 5% 0% 5%;
}
.first-banner-h1-font
{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    border-image: linear-gradient(black, slateblue);
    border-left: 4px solid;
    border-image-slice: 1;
    padding-left: 1%;
}
#first-banner-h1-font-2
{
    color: slateblue;
}
.first-banner-p-font
{
    font-size: 18px;
    color: #3E3E3E;
}
.first-banner-h1-font-2
{
    font-size: 16px;
    color: #434343;
}
p
{
    font-family: 'Poppins', sans-serif;
}
.flexible-container
{
    display: flex;
    margin-bottom: 50px;
}
.first-banner-half-width
{
    width: 60%;
    padding-right: 5%;
}

.first-banner-half-width img
{
    width: 500px;
    margin-left:32%;
    margin-top: 5%;
}
button
{
    background-color:#6b57ee;
    border: none;
    height: 48px;
    width: 172px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#mission-area-h1-font
{
    border: none;
    font-family: 'Poppins', sans-serif;
    font: bold;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.mission-area img
{
    width: 135px;
}
.mission-h2-font
{
    font-size: 25px;
    font-weight: 700;
}
.mission-item
{
    border-radius: 26px;
    padding: 16px;
    height: 376px;
    width: auto;
}
#mission
{
    background-color: #b4d5d8;
}
#mission-2
{
    background-color: #f5bebe;
    margin-left: 3%;
    margin-right: 3%;
}
#mission-3
{
    background-color: #f7e4b1;
}
.second-banner-half-width
{
    width: 33%;
    padding-right: 5%;
}
.second-second-banner-half-width
{
    width: 67%;
    padding-right: 5%;
}
.second-banner-half-width img
{
    width: 400px;
}
.second-banner-h1-font
{
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin-top: 7%;
}
#third-banner-h1-font
{
    margin-top: 8%;
}
#button2
{
    width: 243px;
}
.fourth-chamber
{
    margin-top: 6%;
}
.last-banner
{
    background-color: #484372;
    padding: 5%;
    border-radius: 26px;
    margin-bottom: 4%;
    color: white;
}
.last-banner img
{
    border-radius: 26px;
    width: 500px;
}
.last-banner-half-width
{
    width: 50%;
    padding-right: 5%;
}
.last-banner-half-font
{
    font-weight: 700;
}
.last-banner-h1-font
{
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}
.last-banner-h1-font-2
{
    color: tomato;
}
.last-banner-p-font
{
    color: thistle;
}
footer
{
    text-align: center;
    height: 150px;
    background-color: black;
    color: white;
    padding-top: 15px;
}
footer h1{
    font-family: 'Lobster', cursive;
    font-weight: 500;
}
.footer-h1-font
{
    color:slateblue;
}
footer p
{
    color: #D9DBE1;
}